<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>About Page</title>
    </head>
    <body>
        About{{> header}}
        <p>Some text here!</p>
        {{> footer}}
    </body>
</html>