<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home Page</title>
    </head>
    <body>
        Home {{> header}}
        <p>{{screamIt welcomeText}}</p>
        {{> footer}}
    </body>
</html>